{% extends "layouts/base_full.html" %}
{% block header %}
<title>CPM Questionare</title>
{% endblock %}
{% load static %}

{% block style %}
<style>
.select-d {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  background-color: #f0f0f0;
  color: black;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border-color: #c7c5c5;
  padding-left: 6px;
  margin-left: 17px;
  background: transparent;
}
.questions {
    text-align: left;
    margin-left: 100px;
}
</style>
{% endblock %}
{% block content %}

<section class="cklsign" style="width: calc(15px* 85);">
    <div class="pklsi">
        <div class="iopsi">
            <header class="uiopj" style="height: 210px;">
                <div title="HashiCorp" id="custom-prompt-logo"></div>
                <img alt="..." src="{% static 'assets/img/cpm.png' %}" class="interblockchainlogo" style="width: 60%;" />
                <h1 class="c3fa29956 c926e5028">Please answer the below questions</h1>
            </header>
            <div class="c439d90a0 c37cd0ac8">
                <form class="questions" method="POST" action="{% url 'save_questionnaire' %}?qnr={{questionnire}}">
                    {% csrf_token %}
                    {% for question in questions %}
                    <div class="form-group">
                        <label for="qn{{question.id}}">Q{{ forloop.counter }}. {{question.question_text}}:</label>
                        <select id="qn{{question.id}}" class="radio-inline select-d" name="qn_{{question.id}}" required>
                        <option value="" disabled selected>-----</option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block script %}
{% endblock %}