{% extends 'layouts/top.html' %}
{% load custom_filters %}
{% block header %}
<title>Questionnaire</title>
{% endblock %}
{% block style %}
<style>
    .sections {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
        }

        /* Collapsible section button */
        .collapsible {
            background-color: #b7c7e4;
            color: black;
            cursor: pointer;
            padding: 15px;
            border: none;
            text-align: left;
            font-size: 16px;
            width: 100%;
            border-radius: 5px;
            outline: none;
            margin-bottom: 10px;
        }

        .collapsible.active {
            background-color: #92afe3;
        }

        /* Sub-content style */
        .sub-content {
            display: none;
            padding: 20px;
            background-color: #f8f9fa;
            margin-top: 10px;
            border-left: 5px solid #92afe3;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .sub-content.show {
            background-color: #ffffff;
            padding: 25px;
            border-radius: 8px;
            border-left: 5px solid #0056b3;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            margin-bottom: 15px;
        }

        .sub-content ul {
            margin-left: 35px;
            padding-left: 0;
        }

        .sub-content ul li {
            padding: 2px 0;
            color: #333;
        }

        .sub-section {
            margin-bottom: 0px;
        }
</style>
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="container-fluid" style="margin-top: 135px;">
        <h2>Questionnaire</h2>
        <div class="sections" style="margin-top: 20px;">
            {% for section in sections %}
            {% if section.order == '1' %}
                <button class="collapsible">+ Section 1 - Contact Information</button>
                <div class="sub-content">
                  <p class="sub-section">{{section.order}}. {{section.question_text}}</p>
                    <ul>
                        <li>{{section|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if followup.follow_up %}
                        <li>{{followup.follow_up}}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if section.order == '2' %}
                <button class="collapsible">+ Section 2 - Tax Return</button>
                <div class="sub-content">
                  <p class="sub-section">{{section.order}}. {{section.question_text}}</p>
                    <ul>
                        <li>{{section|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if followup.follow_up %}
                        <li>{{followup.follow_up}}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if section.order == '3' %}
                <button class="collapsible">+ Section 3 - Changes in Business</button>
                <div class="sub-content">
                    <p class="sub-section">{{section.order}}. {{section.question_text}}</p>
                    <ul>
                        <li>{{section|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if section.follow_up %}
                        <li>{{section.follow_up}}</li>
                        {% endif %}
                    </ul>
                    {% if section|question_answer_for_qnr:questionnaire.id != 'NO' %}
                    {% for followup in section.follow_up_questions %}
                    <p class="sub-section">{{followup.order}}. {{followup.question_text}}</p>
                    <ul>
                        <li>{{followup|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if followup|question_text_answer_for_qnr:questionnaire.id %}
                        <li>{{followup|question_text_answer_for_qnr:questionnaire.id}}</li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if section.order == '4' %}
                <button class="collapsible">+ Section 4 - Changes in personal financial life</button>
                <div class="sub-content">
                    <p class="sub-section">{{section.order}}. {{section.question_text}}</p>
                    <ul>
                        <li>{{section|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if section.follow_up %}
                        <li>{{section.follow_up}}</li>
                        {% endif %}
                    </ul>
                    {% if section|question_answer_for_qnr:questionnaire.id != 'NO' %}
                  {% for followup in section.follow_up_questions %}
                    <p class="sub-section">{{followup.order}}. {{followup.question_text}}</p>
                    <ul>
                        <li>{{followup|question_answer_for_qnr:questionnaire.id|lower|capfirst}}</li>
                        {% if followup|question_text_answer_for_qnr:questionnaire.id %}
                        <li>{{followup|question_text_answer_for_qnr:questionnaire.id}}</li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var coll = document.getElementsByClassName("collapsible");
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock %}