{% extends 'layouts/top.html' %}
{% block header %}
<title>User Profile</title>
{% endblock %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <!--right side-->
                <div class="col-md-6" style="border-right:1px solid #000">
                    <h1 class="mt-4">{{user.username}}</h1>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6" style="border-right:1px solid #000">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="mt-4"><b>Summary</b></h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="mt-4"><b>DOB </b></p>
                            <p>{{user.date_of_birth}}</p>
                            <p class="mt-4"><b>Last Contacted</b></p>
                            <p>{{user.last_login}}</p>
                            <p class="mt-4"><b>Mailing Address </b></p>
                            <p>{{user.address}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mt-4"><b>Email </b></p>
                            <p>{{user.email}}</p>
                            <p class="mt-4"><b>Phone Number </b></p>
                            <p>{{user.phone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mt-5"><b>Most Recent Answers</b></p>
                            {% for answer in answers %}
                                <p style="margin: 0 0 2px;">{{answer.question.question_text}}</p>
                                <p><b>{% if answer.yes_no_answer %}Yes{% else %}No{% endif %}</b></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--left side-->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="mt-4"><b>Activity Log</b></p>
                        </div>
                    </div>
                    <div class="row">
                        {% for questionnaire in questionnaires %}
                        <div class="col-md-3">
                            <p class="mt-4">{{questionnaire.created_at}}</p>
                        </div>
                        <div class="col-md-9">
                            <p class="mt-4">
                                {% if questionnaire.is_completed %}
                                    Questionnaire completed on {{questionnaire.test_date}}
                                {% else %}
                                    Questionnaire Sent
                                {% endif %}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}