{% extends 'layouts/top.html' %}
{% load static %}
{% load custom_filters %}
{% block header %}
<title>Settings</title>
{% endblock %}
{% block style %}
<link href="{% static 'assets/css/user-profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="container-fluid" style="margin-top: 135px;">
        <div class="custom-tabination tab-area">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="activity" data-bs-toggle="tab"
                    data-bs-target="#activity-tab-pane" type="button" role="tab" aria-controls="activity-tab-pane"
                    aria-selected="true">Recent Activity</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="upcoming-tasks" data-bs-toggle="tab"
                    data-bs-target="#upcoming-tasks-tab-pane" type="button" role="tab"
                    aria-controls="upcoming-tasks-tab-pane" aria-selected="false">Upcoming Tasks</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="completed-tasks" data-bs-toggle="tab"
                    data-bs-target="#completed-tasks-tab-pane" type="button" role="tab"
                    aria-controls="completed-tasks-tab-pane" aria-selected="false">Done</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="activity-tab-pane" role="tabpanel"
                aria-labelledby="activity-tab" tabindex="0">

                {% if questionnaires %}
                <div class="filter-block">
                    <div class="filter-block__left">
                    </div>
                    <div class="filter-block__right">
                        <form method="GET">
                            <div id="div_id_search" class="form-group">
                                <div style="display: flex; gap: 20px;">
                                    <input type="text" name="search" placeholder="Filter by questionnaire"
                                        class="textinput textInput form-control" id="id_search">
                                    <button
                                        class="btn btn-primary btn-lg align-middle btn-block">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-head">Activity</th>
                            <th class="table-head">Client</th>
                            <th class="table-head">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionnaire in questionnaires %}
                        <tr>
                            {% if questionnaire.is_completed %}
                            <td style="padding-left: 25px;" class="table-td">Questionnaire {{questionnaire.id}} completed</td>
                            {% else %}
                            <td style="padding-left: 25px;" class="table-td">Questionnaire {{questionnaire.id}} sent</td>
                            {% endif %}
                            <td class="table-td">{{questionnaire.user}}</td>
                            {% if questionnaire.is_completed %}
                            <td style="padding-left: 25px;" class="table-td">{{questionnaire.test_date}}</td>
                            {% else %}
                            <td style="padding-left: 25px;" class="table-td">{{questionnaire.created_at}}</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <div class="col-12">
                            <p class="text-center" style="margin-top: 5%;">No Any Activity found.</p>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pod-ep">

                </div>

                <!-- Episodes Pagination -->
                {% if is_paginated %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?page={{ page_obj.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li
                            class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <!-- End Episodes Pagination -->

            <div class="tab-pane fade" id="upcoming-tasks-tab-pane" role="tabpanel" aria-labelledby="upcoming-tasks-tab"
                tabindex="0">
                {% if combined_clips %}
                <div class="filter-block">
                    <div class="filter-block__left">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Select all
                            </label>
                        </div>

                    </div>
                    <div class="filter-block__right">
                        <form method="GET">
                            <!-- <div class="d-flex form-check justify-content-end mb-2">
                                <button type="button" id="delete-selected" class="btn btn-primary">Delete
                                    selected</button>


                            </div> -->
                            <div class="d-flex gap-2">
                                <input type="text" name="clipsearch" placeholder="Filter by Clip name"
                                    class="textinput textInput form-control" id="id_search">
                                <button class="btn btn-primary btn-lg align-middle btn-block">Search
                                </button>
                                    <button type="button" id="delete-selected" class="btn btn-primary" style="min-width: 130px;">Delete selected</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% for clip in combined_clips %}
                <div class="custom-ep-block">

                    <div class="row">

                        <div class="col-xl-8 col-lg-12 col-md-12">
                            <div class="checkbox-wrap">
                                <input class="form-check-input clip-checkbox" type="checkbox"
                                    value="{{ clip.id }}" id="clip-{{ clip.id }}"
                                    data-clip-id="{{ clip.id }}" data-clip-type="{{ clip.type }}">


                                <div class="left-ep-block">
                                    <div class="ep-img">
                                        <img alt="..." class="image-show"
                                            src="{% if clip.thumbnail_s3 %}{{ clip.thumbnail_s3 }}{% else %}{{ clip.thumbnail }}{% endif %}">
                                    </div>
                                    <p class="ep-name">
                                        {% if clip.type == "podcast_clip" %}
                                        <h4>
                                            {{ clip.title }}</h4>
                                        {% elif clip.type == "youtube_clip" %}
                                        <h4>
                                            {{ clip.title }}</h4>
                                        {% endif %}
                                    </p>


                                    {% if clip.type == "podcast_clip" %}
                                    <p>
                                        {{ clip.episode }}
                                    </p>
                                    <p class="pod-name">{{clip.episode.podcast}}</p>
                                    {% elif clip.type == "youtube_clip" %}
                                    <p class="pod-name">{{clip.podcast}}</p>
                                    {% endif %}
                                    <ul class="pad-cat-blocks">
                                        <li>Society &amp; Culture </li>
                                        <li>History</li>
                                        <li>Personal Journals</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="right-ep-block">
                                <div class="audio-wrapper">
                                    <audio controls="">
                                        <source src="{{ clip.audio_url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                                {% if request.user.is_admin %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="margin-left: 42px;">
                                        Actions<div class="arrow-down"></div>
                                    </button>
                                    {% if clip.type == "podcast_clip" %}
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'clip_update_dashboard' clip.id %}">Edit
                                                Clip</a></li>
                                        <li class="dropdown-item clip_delete pointer" clip-id={{clip.id}}>
                                            Delete</li>
                                        {% if clip.is_processed %}
                                        <li clip-id={{clip.id}} class="dropdown-item clip_process pointer">
                                            Reimport</li>
                                        {% endif %}
                                    </ul>
                                    {% elif clip.type == "youtube_clip" %}
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'youtubeclip_update' clip.id %}">Edit Clip</a>
                                        </li>
                                        <li class="dropdown-item ytclip_delete pointer" clip-id={{clip.id}}>Delete
                                        </li>
                                        {% if clip.is_processed %}
                                        <li clip-id={{clip.id}}
                                            class="dropdown-item ytclip_process pointer">Reimport</li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <div class="col-12">
                    <p class="text-center" style="margin-top: 5%;">No Any Tasks found.</p>
                </div>
                {% endfor %}

                <!-- Clips Pagination -->
                {% if combined_clips.has_other_pages %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if combined_clips.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?clips_page={{ combined_clips.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in combined_clips.paginator.page_range %}
                        {% if combined_clips.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > combined_clips.number|add:'-3' and i < combined_clips.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?clips_page={{ i }}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if combined_clips.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?clips_page={{ combined_clips.next_page_number }}"
                                    class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
                <br><br>
            </div>
            <div class="tab-pane fade" id="completed-tasks-tab-pane" role="tabpanel" aria-labelledby="completed-tasks-tab"
                tabindex="0">
                {% if combined_clips %}
                <div class="filter-block">
                    <div class="filter-block__left">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Select all
                            </label>
                        </div>

                    </div>
                    <div class="filter-block__right">
                        <form method="GET">
                            <!-- <div class="d-flex form-check justify-content-end mb-2">
                                <button type="button" id="delete-selected" class="btn btn-primary">Delete
                                    selected</button>


                            </div> -->
                            <div class="d-flex gap-2">
                                <input type="text" name="clipsearch" placeholder="Filter by Clip name"
                                    class="textinput textInput form-control" id="id_search">
                                <button class="btn btn-primary btn-lg align-middle btn-block">Search
                                </button>
                                    <button type="button" id="delete-selected" class="btn btn-primary" style="min-width: 130px;">Delete selected</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% for clip in combined_clips %}
                <div class="custom-ep-block">

                    <div class="row">

                        <div class="col-xl-8 col-lg-12 col-md-12">
                            <div class="checkbox-wrap">
                                <input class="form-check-input clip-checkbox" type="checkbox"
                                    value="{{ clip.id }}" id="clip-{{ clip.id }}"
                                    data-clip-id="{{ clip.id }}" data-clip-type="{{ clip.type }}">


                                <div class="left-ep-block">
                                    <div class="ep-img">
                                        <img alt="..." class="image-show"
                                            src="{% if clip.thumbnail_s3 %}{{ clip.thumbnail_s3 }}{% else %}{{ clip.thumbnail }}{% endif %}">
                                    </div>
                                    <p class="ep-name">
                                        {% if clip.type == "podcast_clip" %}
                                        <h4>
                                            {{ clip.title }}</h4>
                                        {% elif clip.type == "youtube_clip" %}
                                        <h4>
                                            {{ clip.title }}</h4>
                                        {% endif %}
                                    </p>


                                    {% if clip.type == "podcast_clip" %}
                                    <p>
                                        {{ clip.episode }}
                                    </p>
                                    <p class="pod-name">{{clip.episode.podcast}}</p>
                                    {% elif clip.type == "youtube_clip" %}
                                    <p class="pod-name">{{clip.podcast}}</p>
                                    {% endif %}
                                    <ul class="pad-cat-blocks">
                                        <li>Society &amp; Culture </li>
                                        <li>History</li>
                                        <li>Personal Journals</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="right-ep-block">
                                <div class="audio-wrapper">
                                    <audio controls="">
                                        <source src="{{ clip.audio_url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                                {% if request.user.is_admin %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="margin-left: 42px;">
                                        Actions<div class="arrow-down"></div>
                                    </button>
                                    {% if clip.type == "podcast_clip" %}
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'clip_update_dashboard' clip.id %}">Edit
                                                Clip</a></li>
                                        <li class="dropdown-item clip_delete pointer" clip-id={{clip.id}}>
                                            Delete</li>
                                        {% if clip.is_processed %}
                                        <li clip-id={{clip.id}} class="dropdown-item clip_process pointer">
                                            Reimport</li>
                                        {% endif %}
                                    </ul>
                                    {% elif clip.type == "youtube_clip" %}
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'youtubeclip_update' clip.id %}">Edit Clip</a>
                                        </li>
                                        <li class="dropdown-item ytclip_delete pointer" clip-id={{clip.id}}>Delete
                                        </li>
                                        {% if clip.is_processed %}
                                        <li clip-id={{clip.id}}
                                            class="dropdown-item ytclip_process pointer">Reimport</li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <div class="col-12">
                    <p class="text-center" style="margin-top: 5%;">No Any Completed Tasks found.</p>
                </div>
                {% endfor %}

                <!-- Clips Pagination -->
                {% if combined_clips.has_other_pages %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if combined_clips.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?clips_page={{ combined_clips.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in combined_clips.paginator.page_range %}
                        {% if combined_clips.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > combined_clips.number|add:'-3' and i < combined_clips.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?clips_page={{ i }}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if combined_clips.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?clips_page={{ combined_clips.next_page_number }}"
                                    class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}